@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Přehled objednávek</h2>

<table class="table">
    <tr>
        <th>
            Datum vytvoření
        </th>
        <th>
            Rezervace
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Detaily", "Details", new { id = item.Id })
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
<p>
    @Html.ActionLink("Vytvořit novou rezervaci", "Index", "Playgrounds")
</p>
