@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Profil uživatele";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Jméno:</dt>
        <dd>@ViewBag.Name</dd>
        <dt>Příjmení:</dt>
        <dd>@ViewBag.Surname</dd>
        <dt>Email:</dt>
        <dd>@ViewBag.Email</dd>
        <dt>Kredity:</dt>
        <dd>@ViewBag.Credits</dd>
        <dt>Heslo:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Změnit heslo", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
    </dl>
</div>
